{% extends "base.html" %}

{% block content %}
<form id="search" action="" method="get">
  <div id="search-bar">
    {{ search.q }}
    <input id="searchbtn" type="submit" value="Search">
  </div>
  <div id="search-filters">
    {{ search.location }}
    {{ search.topic }}
    {{ search.sort }}
  </div>
</form>

{% if not saved_search.pk %}
{% if search.q.value or search.location.value or search.topic.value %}
{% if user.is_authenticated %}
<form id="savesearch" class="callout" action="{% url 'save_search' %}" method="post">
    {% csrf_token %}
    {{ search.q.as_hidden }}
    {{ search.location.as_hidden }}
    {{ search.topic.as_hidden }}
    <span>Save this search and get notified when future {{ saved_search }} open.</span>
  <input class="btn" type="submit" value="Save this search">
</form>
{% else %}
<div id="savesearch" class="callout">
  <span>Sign up to get notified when future {{ saved_search }} open.</span>
  <a href="{% url 'signup' %}" class="btn">Sign up</a>
</div>
{% endif %}
{% endif %}
{% endif %}


{% if calls %}
<ul id="conferences" class="table-list">
  <li class="table-list-header">
    <div class="table-list-cell call-days">Closes</div>
    <div class="table-list-cell">Name</div>
    <div class="table-list-cell call-date">Event Date</div>
    <div class="table-list-cell call-city">City</div>
    <div class="table-list-cell call-country">Country</div>
  </li>
  {% for c in calls %}
    {% with conf=c.conference %}
  <li>
    <div class="table-list-cell call-days">
      {% with total=business.employees.count %}
        {% if c.days_left == 0 %}
        Today
        {% else %}
        {{ c.days_left }}<br>day{{ c.days_left|pluralize }}
        {% endif %}
      {% endwith %}
    </div>
    <div class="table-list-cell">
      <a class="call-link" href="{{ c.get_absolute_url }}">{{ conf.name}}</a>
      <div class="call-tagline">{{ conf.tagline}}</div>
    </div>
    <div class="table-list-cell call-date">{{ conf.date_range }}</div>
    <div class="table-list-cell call-city">{{ conf.city }}</div>
    <div class="table-list-cell call-country">{{ conf.country.name }}</div>
  </li>
  {% endwith %}
  {% endfor %}
</ul>
{% else %}
<div id="noresults">
  <p>Shucks, it looks like there aren't any calls that match your search.</p>
  <p>Help us out a <a href="{% url 'conference_create' %}">submit a call for speakers</a> today!</p>
</div>
{% endif %}
{% endblock %}
