{% extends "base.html" %}

{% block content %}
{% if not empty_profile %}
<div class="callout">
  <span>Are we missing your favorite conference? Help us out and add it to our list!</span>
  <a class="btn" href="{% url "conference_create" %}">Submit a call for speakers</a>
</div>
{% endif %}
<form id="search" action="" method="get">
  <input tabindex="1" type="text" class="searchbar" name="q" value="{{ query }}">
  <input type="submit" value="Search">
</form>
<ul id="conferences" class="table-list">
  <li class="table-list-header">
    <div class="table-list-cell call-days">Closes</div>
    <div class="table-list-cell">Name</div>
    <div class="table-list-cell call-date">Event Date</div>
    <div class="table-list-cell call-city">City</div>
    <div class="table-list-cell call-country">Country</div>
  </li>
  {% for c in calls %}
    {% with conf=c.conference %}
  <li>
    <div class="table-list-cell call-days">
      {% with total=business.employees.count %}
        {% if c.days_left == 0 %}
        Today
        {% else %}
        {{ c.days_left }}<br>day{{ c.days_left|pluralize }}
        {% endif %}
      {% endwith %}
    </div>
    <div class="table-list-cell">
      <a class="call-link" href="{{ c.get_absolute_url }}">{{ conf.name}}</a>
      <div class="call-tagline">{{ conf.tagline}}</div>
    </div>
    <div class="table-list-cell call-date">{{ conf.date_range }}</div>
    <div class="table-list-cell call-city">{{ conf.city }}</div>
    <div class="table-list-cell call-country">{{ conf.country.name }}</div>
  </li>
  {% endwith %}
  {% endfor %}
</ul>
{% endblock %}
