{% extends "base.html" %}

{% load markdown_deux_tags %}

{% block title %}{{call.conference.name}} {{call.conference.start.year}}{% endblock %}


{% block content %}
{% with conf=call.conference %}
<div id="call-detail">
  <div id="call-info">
    <a class="conference-title" href="{{ call.get_absolute_url }}"><h1>{{ conf.name }}</h1></a>
    <p class="conference-tagline">{{ conf.tagline }}</p>
    <div>
      <span class="conference-detail fa-holder">
        <i class="fa fa-calendar-o"></i></span> {{ conf.date_range }}
    </div>

    {% if conf.venue %}
    <div>
      <span class="conference-detail fa-holder">
        <i class="fa fa-university"></i></span> {{ conf.venue }}
    </div>
    {% endif %}

    <div>
      <span class="conference-detail fa-holder">
        <i class="fa fa-map-marker"></i></span>
      {{conf.city}}, {{ conf.country.name }}
    </div>
    </br>

    {% if conf.website_url %}
    <div class="conference-detail">
      <a href="{{ conf.website_url }}">
        <i class="fa fa-link"></i> {{ conf.website_domain }}
      </a>
    </div>
    {% endif %}

    {% if conf.twitter_handle %}
    <div class="conference-detail">
      <a href="https://twitter.com/{{ conf.twitter_handle }}">
        <i class="fa fa-twitter"></i> @{{ conf.twitter_handle }}
      </a>
    </div>
    {% endif %}

    <article class="post-content">
      {{ conf.description|markdown }}
    </article>
    <article class="post-content">
      {{ call.description|markdown }}
    </article>
  </div>
  <div id="call-text">
    <div id="call-close-notification">
      {% if call.is_open %}
        {% if call.days_left == 0 %}
        <div class="calendar-text">
          <span>Applications due by the end of the day</span>
        </div>
        {% else %}
        <div class="calendar calendar-day{% if call.days_left > 1 %}s{% endif %}">
          {{ call.days_left }}
        </div>
        <div class="calendar-text">
          <span>Applications due by</span> <span>{{ call.end|date:"M j, Y" }}</span>
        </div>
        {% endif %}
      {% else %}
      <div class="calendar calendar-closed"></div>
      <div class="calendar-text">
        <span>Applications were due by</span> <span>{{ call.end|date:"M j, Y" }}</span>
      </div>
      {% endif %}
      </div>

      {% if call.is_open %}
        {% if tracking %}
        <div>
          <div class="tracked">Tracking</div>
          <small>You'll receive email reminders when this call is about to close.</small>
        </div>
        {% elif user.is_authenticated %}
        <form action="{{ call.conference.get_track_url }}" method="POST">
          {% csrf_token %}
          <input class="btn" type="submit" value="Remind me">
          <small>Receive email reminders when this call is about to close.</small>
        </form>
        {% else %}
        <a href="{% url 'signup' %}" class="btn">Sign up</a>
        <small>To receive email reminders when this call is about to close.</small>
        {% endif %}
      {% endif %}

      {% if talks %}
      <h3>Previously submitted talks for this conference</h3>
      <ul>
        {% for talk in talks %}
        <li><a href="{{ talk.get_absolute_url }}">{{ talk.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if call.is_open %}
      <h3>Submit a talk</h3>
      {% if form %}
      <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        {% if profile_form %}
        <p class="callout">Save your profile information for future submissions. <a href="{% url 'signup' %}">Sign up now!</a></p>
        {{ profile_form.as_p }}
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit a talk</button>
      </form>
      {% else %}
      <p>Sadly, the {{conf.name}} speaker submission process can't be completed via Call to Speakers. Click the link the below to submit your proposal via the conference's website.</p>
      <a class="btn btn-primary" href="{{call.application_url}}">Submit a talk</a>
      {% endif %}
      {% endif %}
    </div>
</div>
{% endwith %}
{% endblock %}
