{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="slim">
{% if form.instance.pk %}
  <h1>Edit existing CFP</h1>
{% else %}
  <h1>Add a new CFP</h1>
{% endif %}

{% bootstrap_css %}
{% bootstrap_javascript %}
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% if form.instance.pk %}Edit CFP{% else %}Create CFP{% endif %}
        </button>
    {% endbuttons %}
</form>
</div>
{% endblock %}
