{% extends "base.html" %}

{% block content %}
<h2>Application URL</h2>
<a href="{{ talk.call.application_url }}">{{ talk.call.conference.name }} application</a>

<h2>Talk</h2>
<div class="form">
  {% for entry in entries %}
  <p>
    <label>{{ entry.field.pretty_name }}</label>
    <input type="text" value="{{ entry.value }}">
  </p>
  {% endfor %}
</div>

<h2>Profile</h2>
<div class="form">
  {{ profform.as_p }}
</div>

<div class="form">
  <p>
    <textarea rows=30>
# Title of Talk

* Name: {{ profile.name }}
* Location: {{ profile.city }}, {{ profile.country.name }}
* Email: {{ profile.email_address }}
* Twitter: [@{{ profile.twitter_handle }}](https://twitter.com/{{ profile.twitter_handle}})
* GitHub: [{{ profile.github_handle }}](https://github.com/{{ profile.github_handle }})
* Url(s): [{{ profile.personal_website}}]({{ profile.personal_website }})

## The story you'd like to tell

[Presentation description goes here. Try to keep it under say, 500 words, but more than 140 characters]

## Speaker Bio

![photo]({{ profile.photo_url }})

{{ profile.bio }}

{{ profile.speaking_experience }}
    </textarea>
  </p>
</div>

<h2>Call</h2>
<div class="form">
  {{ callform.as_p }}
</div>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
  $(".form input").on("click", function () {
   $(this).select();
  });
  $(".form textarea").on("click", function () {
   $(this).select();
  });
</script>
{% endblock %}
