{% extends "base.html" %}

{% block content %}
<h2>Application URL</h2>
<a href="{{ talk.call.application_url }}">{{ talk.call.conference.name }} application</a>

<h2>Talk</h2>
<div class="form">
  {{ talkform.as_p }}
</div>

<h2>Profile</h2>
<div class="form">
  {{ profform.as_p }}
</div>

<h2>Call</h2>
<div class="form">
  {{ callform.as_p }}
</div>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
  $(".form input").on("click", function () {
   $(this).select();
  });
  $(".form textarea").on("click", function () {
   $(this).select();
  });
</script>
{% endblock %}
