{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Find your voice{% endblock %} - Call to Speakers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Call to Speakers is a list of open applications for conference talks. Get notified of new opportunities via a weekly newsletter, Twitter account, or RSS feed. Never miss a submission deadline again.">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/static/icons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/static/icons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">

    <link rel="alternate" type="application/rss+xml" title="Call to Speakers RSS Feed" href="https://calltospeakers.com/feed">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
    <div id="wrapper">
        <header id="nav">
          <a class="site-title" href="/">
            <img src="/static/img/logo-md.png"><span>Call to Speakers<span>
          </a>
          <ul>
          {% if user.is_authenticated %}
          <li>{{ user.email }}</li>
          <li><a class="btn" href="{% url 'profile' %}">
              Profile
          </a></li>
          <li><a class="btn" href="{% url 'logout' %}">
              Log out
          </a></li>
          {% else %}
          <li><a class="btn" href="{% url 'login' %}">Log in</a></li>
          <li><a class="btn btn-primary" href="{% url 'signup' %}">Sign up</a></li>
          {% endif %}
          </ul>
        </header>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      <div id="content">
        {% if empty_profile %}
        <div class="callout">
          <span>Your speaker profile is incomplete! We won't be able to submit your talks until you fill in all information.</span>
          <a class="btn" href="{% url "profile" %}">Fill out your speaker profile</a>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <footer>
        <p>Send questions and comments to <a href="mailto:contact@calltospeakers.com">contact@calltospeakers.com</a></p>
        <a class="twitter" href="https://twitter.com/calltospeakers">Twitter</a>
        <a class="rss" href="/feed">RSS</a>
      </footer>
    </div>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
    <script src="/static/js/ga.js"></script>
  </body>
</html>
